@*
    <!DOCTYPE html>
    <html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width" />
        <title>Error</title>
    </head>
    <body>
        <hgroup>
            <h1>Error.</h1>
            <h2>Error al procesar la solicitud.</h2>
        </hgroup>
    </body>
    </html>
*@

@{
    ViewBag.Title = "Error";
    Layout = null;
}

<!doctype html>
<html lang="es">
<head>
    <!--Meta Tags-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Bundles rederizados-->
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*fontawesome*@
    <script src="https://kit.fontawesome.com/2f08016506.js" crossorigin="anonymous"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @*estilos*@
    <link href="~/Content/EstilosPopUp.css" rel="stylesheet" />
    <link href="~/Content/StyleBuscador.css" rel="stylesheet" />
    @*Titulo de la pagina*@
    <title>Estadística</title>
    @*Script para cargar charts*@
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!--carrucel-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- pdf descargar-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!--megamenu-->
    <script>
        $(document).ready(function () {
            $(".megamenu").on("click", function (e) {
                e.stopPropagation();
            });
        });

    </script>
</head>

<body>
    <h1>
        Hola, hemos tenido un error interno, pero lo invitamos a seguir revisando nuestros gráficos
    </h1>
    <img src="~/Content/img/RRSS/logoDataIntelligence.png" />
    
    <!--Script de ocultar texto-->
    <script src="~/Scripts/OcultarBoton.js"></script>
    <!--Jquery, popper y Bootstrap-->
    <script src="~/js/jquery-3.3.1.slim.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>